
<section class="bg-gray pt-60">
  <div class="container pb-120">
    <!-- loading -->
    <div *ngIf="!post" class="container d-flex h-100 flex-column justify-content-center" style="min-height: 340px">
      <img src="assets/img/loader.svg" height="36px" alt="Loader">
    </div>
      
    <div class="row" *ngIf="post">
      <div class="col-md-8">
        <!-- card post -->
        <div class="card" style="min-height: 100%">
          <div class="p-40">
              <h3 class="cart-title">{{ post.job_title }}</h3>
              <p class="bold">{{ post.company_name }}</p>
              <a *ngIf="post.referrals_by_user[store.curUser]" href="mailto:{{ post.your_email }}"><i class="iconfont iconfont-envelope"></i> : {{ post.your_email }}</a>

              <nz-row class="my-16" nzGutter="16">
                <nz-col span="4" class="bold">Position Type: </nz-col>
                <nz-col span="20">{{ post.job_type }}</nz-col>
              </nz-row>

              <nz-row class="my-16" nzGutter="16" *ngIf="post.job_range">
                <nz-col span="4" class="bold">Salary Range: </nz-col>
                <nz-col span="20">{{ post.job_range }}</nz-col>
              </nz-row>
              
              <nz-row class="my-16" nzGutter="16" *ngIf="post.job_location">
                <nz-col span="4" class="bold">Job Location: </nz-col>
                <nz-col span="20">{{ post.job_location }}</nz-col>
              </nz-row>
              
              <section class="my-40">
                <p class="bold">Job Description</p>
                <div class="card-text text" [innerHtml]="post.job_desc"></div>
              </section>

              <section class="my-40" *ngIf="post.job_attachments.length">
                <p class="bold">Attachments</p>
                <a class="mr-12 blue" target="_blank" 
                  href="{{ file.url }}" 
                  *ngFor="let file of post.job_attachments">
                  <i class="iconfont iconfont-pdf mr-6"></i> 
                  {{ file.name }}
                </a>
              </section>
              
              <section class="my-40">
                <p class="bold">Company Description</p>
                <div class="card-text text" [innerHtml]="post.company_desc"></div>
              </section>
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <!-- card reward -->
        <div class="card">
          <div class="card-body">
            <nz-row nzType="flex" nzJustify="space-between" class="mb-46">
              <p>
                <span class="tag {{ post.status }}">{{ post.status }}</span>
                <span class="ml-12" nz-tooltip nzTitle="update status">
                  <i class="anticon anticon-loading-3-quarters blue" 
                    (click)="updatePostStatus(post)"
                    [class.anticon-spin]="loading"
                    *ngIf="post.status === 'pending'"
                    ></i>
                </span>
              </p>
              
              <nz-col>
                <i class="iconfont iconfont-group blue"></i>
                <span class="num blue fw-600">{{ post.candidateTrend || 0 }}</span>
              </nz-col>
            </nz-row>
            
            <div class="flex bold mt-20">
              <p class="flex1">Company Contributions:</p>
              {{ store.selectedCurrency.symbol }}{{ (store.selectedCurrency.rate * post.reward || 0) | number:'1.0-0' }} {{ store.selectedCurrency.name }}
            </div>
            <div class="flex bold">
              <p class="flex1">Referral  Contributions:</p>
              {{ store.selectedCurrency.symbol }}{{ (store.selectedCurrency.rate * post.cost || 0) | number:'1.0-0' }} {{ store.selectedCurrency.name }}
            </div>
            <div class="flex bold">
              <p class="flex1"></p>
              <p>
                {{ store.selectedCurrency.symbol }}{{ (store.selectedCurrency.rate * post.honeypot || 0) | number:'1.0-0' }} {{ store.selectedCurrency.name }}
                <br>
                <span class="desc">Total Reward</span>
              </p>
              
            </div>
            <div class="text-center mt-60">
              <a 
                disabled
                *ngIf="post.status != 'open' || post.owner_addr == store.curUser" 
                class="btn btn-primary btn-canya-gradient"  
                routerLink="/refer/new/{{ post.id }}">
                REFER TALENT
              </a>
              <a 
                *ngIf="post.status == 'open' && post.owner_addr != store.curUser" 
                class="btn btn-primary btn-canya-gradient" 
                routerLink="/refer/new/{{ post.id }}">
                REFER TALENT
              </a>
            </div>
          </div>
        </div>
        
        <!-- card company -->
        <div class="card text-center mt-30">
          <div class="card-body">
            <img class="card-img-top" 
              onerror="this.src='assets/img/logo.svg'"
              src="{{ ((post.company_logo || [])[0] || {}).url }}" 
              alt="{{ post.company_name }} logo">

              <h3 class="card-title mt-24 mb-40">{{ post.company_name }}</h3>
              <a *ngIf="post.company_website" href="//{{ post.company_website }}" target="_blank" class="btn btn-primary btn-outline mb-20">view website</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  
  <app-cmp-footer></app-cmp-footer>
</section>
