
<section class="bg-gray pt-60">
  <div class="container pb-120">
    <div class="row">
      <div class="col-md-8">
        <!-- card post -->
        <div class="card" style="min-height: 100%">
          <div class="card-body">
              <h3 class="cart-title">Job Desc</h3>
              <div class="card-text">
                Your role will involve developing and maintaining the tools used to manage multi-year infrastructure projects as well as establishing and embedding the processes and use of this tool within your team. Your first project will be working alongside a high performing team of consultants delivering a major infrastructure transformation for an ASX50 client.
    
                Our ideal candidate will have either, 1 to 3 years general business or IT experience, or at least a bachelor’s degree with a major in computer science or business information systems. Experience working in a project environment is preferred. Knowledge of IT infrastructure would be helpful but is not essential.
    
                This is a team role where you will be working closely with colleagues and client stakeholders in an IT infrastructure focused domain.
    
                Note: Only applicants with the right to work in Australia will be considered.
              </div>
              
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <!-- card reward -->
        <div class="card">
          <div class="card-body">
            <div class="flex">
              <p class="flex1"><nz-tag [nzColor]="'green'">OPEN</nz-tag></p>
              <i class="anticon anticon-usergroup-add"></i>
            </div>
            <div class="flex">
              <p class="flex1">label</p>
              value
            </div>
            <div class="flex">
              <p class="flex1">label</p>
              value
            </div>
            <div class="flex">
              <p class="flex1"></p>
              value
            </div>
            <div class="text-center">
              <a class="btn btn-primary btn-canya-gradient mt-60" routerLink="/refer/1">
                REFER TALENT
              </a>
            </div>
          </div>
        </div>
        
        <!-- card company -->
        <div class="card text-center mt-30">
          <div class="card-body">
              <img class="card-img-top" src="https://canyacoin.files.wordpress.com/2018/01/canya_origin_blog.png" alt="CanYa + Origin Protocol">
              <h3 class="card-title mt-24 mb-40">Company name</h3>
              <a href="#" class="btn btn-primary btn-outline">view website</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <app-cmp-footer></app-cmp-footer>
</section>
