<!-- Header -->
<header class="header fadeout pt-120 pb-30" id="section-home">
  <div class="container">
    <div class="row h-full justify-content-center align-items-center text-center text-lg-left">

      <div class="col-12 col-md-6">
        <div class="img"></div>
      </div>

      <div class="col-12 col-md-6 col-form-desk">
        <div class="row px-10 align-items-center">
          <div class="col-12 text-center text-md-left">
              <div class="logo"></div>
              <h4 class="px-10 py-10 fw-400 hidden-lg-up">
                  Crowdsourced talent, 
                  <br>
                  Eearn rewards,
                  <br>
                  Build your reputation.
              </h4>
          </div>
        </div>
      </div>
    </div>

  </div>
</header>
<!-- END Header -->