@font-face {
    font-family: 'iconfont';  /* project id 698928 */
    src: url('//at.alicdn.com/t/font_698928_rdzm85erzif3whfr.eot');
    src: url('//at.alicdn.com/t/font_698928_rdzm85erzif3whfr.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_698928_rdzm85erzif3whfr.woff') format('woff'),
    url('//at.alicdn.com/t/font_698928_rdzm85erzif3whfr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_698928_rdzm85erzif3whfr.svg#iconfont') format('svg');
  }

.icon {
    font-family: iconfont;
    font-style: normal;
    font-size: 20px;
    vertical-align: middle;
    cursor: pointer;
}

.img {
    background: url('../../assets/img/CanHire_Illustration.svg') center / contain no-repeat;
    height: 400px;
}
.logo {
    background: url('../../assets/img/CanYa_CanHire.svg') left center / contain no-repeat;
    height: 80px;
}
h3 {
    text-align: left;
}