<!-- Header -->
<header class="header fadeout pt-120 pb-30" id="section-home">
  <div class="container">
    <div class="row h-full justify-content-center align-items-center text-center text-lg-left">

      <div class="col-12 col-md-6">
        <div class="img"></div>
      </div>

      <div class="col-12 col-md-6 col-form-desk">
        <div class="row px-10 align-items-center">
          <div class="col-12 text-center text-md-left">
              <div class="logo"></div>
              <h4 class="px-10 py-10 fw-400 hidden-lg-up">
                  Crowdsourced talent, 
                  <br>
                  Eearn rewards,
                  <br>
                  Build your reputation.
              </h4>
              <a class="btn btn-lg btn-primary shadow-3" href="javascript:;"
              (click)="opencard(cardmodal)"
                >
              + job post</a>
              <i class="icon question ml-10"
                (click)="open(tutorialmodal)"
                >&#xe628;</i>
          </div>
        </div>
      </div>
    </div>

  </div>
</header>
<!-- END Header -->

<ng-template #tutorialmodal let-c="close" let-d="dismiss">
   <app-tutorial [c]="c" [d]="d"></app-tutorial>
</ng-template>
<ng-template #cardmodal let-c="close" let-d="dismiss">
    <app-cardmodal [c]="c" [d]="d" [cardForm]="cardForm" [balance]="balance"></app-cardmodal>
</ng-template>
