


<nz-row class="bg-gray py-60">
  <!-- no auth -->
  <div *ngIf="!hasAuth" class="container d-flex flex-column justify-content-center text-center"
  style="min-height: 340px">
    <div class="row">
      <div class="col-12 d-flex flex-column">
        <br>
        <h4 class="fw-400">Permission Denied !</h4>
        <h5 class="fw-300">You don't have the authority</h5>
      </div>
    </div>
  </div>


  <nz-col *ngIf="hasAuth" nzType="flex" nzSpan="18" nzOffset="3"> 
    <h4 *ngIf="post">{{ post.job_title }} <small>(
      {{ post.status }}
      <span nz-tooltip nzTitle="update status">
        <i class="anticon anticon-loading-3-quarters blue" 
          (click)="updatePostStatus(post)"
          [class.anticon-spin]="loadingStatus"
          *ngIf="post.status === 'pending'"
          ></i>
      </span>
    )</small></h4>
    <!-- filter & hire btn -->
    <nz-row nzType="flex" nzJustify="space-between">
      <nz-col>
        <nz-radio-group [(ngModel)]="category" (ngModelChange)="searchCategory()">
          <label nz-radio-button nzValue="all">all</label>
          <label nz-radio-button nzValue="shortlist">shortlist</label>
          <label nz-radio-button nzValue="rejected">rejected</label>
          <label nz-radio-button nzValue="unrefined">unrefined</label>
        </nz-radio-group>
      </nz-col>

      <nz-col *ngIf="canHire">
          <button *ngIf="category == 'rejected' || !selectedCandidates.length" disabled nz-button nzType="primary">hire</button>
          <button 
            (click)="closePost()"
            *ngIf="category != 'rejected' && selectedCandidates.length" nz-button nzType="primary">hire</button>
        </nz-col>
    </nz-row>
    

    <!-- loading -->
    <div *ngIf="loading" class="container d-flex h-100 flex-column justify-content-center" style="min-height: 340px">
      <img src="assets/img/loader.svg" height="36px" alt="Loader">
    </div>

    <!-- empty -->
    <div *ngIf="!loading && (results && results.length < 1)" class="container d-flex flex-column justify-content-center text-center"
      style="min-height: 340px">
      <div class="row">
        <div class="col-12 d-flex flex-column">
          <br>
          <h4 class="fw-400">Uh, oh!</h4>
          <h5 class="fw-300">We couldn't find what you were looking for.</h5>
        </div>
      </div>
    </div>

    <!-- list -->
    <nz-checkbox-wrapper style="width: 100%" (nzOnChange)="selectC($event)">
      <nz-collapse class="my-40" 
        [nzBordered]="false"
        *ngIf="!loading && (results && results.length > 0)">
        <nz-collapse-panel 
          *ngFor="let candidate of results" 
          [nzHeader]="candidateHeader"
          [ngStyle]="customStyle"
          [nzShowArrow]="false"
          nzDisabled
          [nzActive]="candidate.active"
          >

          <ng-template #candidateHeader>
            <nz-row nzType="flex" nzJustify="space-between" gutter="16">
              <label *ngIf="post && post.status == 'open' && category != rejected" nz-checkbox 
                nzValue="{{ candidate.id }} {{ candidate.candidateId }}" 
                [nzDisabled]="candidate.status == 'pending'"
                class="checkbox"></label>
              
              <nz-col nzSpan="17">
                <a href="javascript:;" (click)="changeActive(candidate.id)" class="border-bottom pb-10 card-title uppercase">{{ candidate.candidate_name }}
                  <small [class.red]="candidate.status == 'selected'" style="font-size: 50%">({{ candidate.status }})</small>
                </a>
                <nz-row nzType="flex" nzJustify="space-between">
                  <nz-col>
                    <a href="mailto:{{ candidate.candidate_email }}">
                      <i class="iconfont iconfont-envelope mr-10" style="font-size: 20px"></i> {{ candidate.candidate_email }} 
                    </a>
                  </nz-col>
                  
                  <nz-col class="text">
                    {{ moment(candidate.time).fromNow() }}
                  </nz-col>
                </nz-row>
              </nz-col>

              <nz-col nzSpan="5" style="line-height: 1.6" class="text-right mr-20">
                <a *ngIf="candidate.status !== 'pending' && candidate.category !== 'shortlist'" href="javascript:;" (click)="changeCandidateCat(candidate.id, 'shortlist')" class="uppercase">
                  add to shortlist <i class="iconfont iconfont-plus-o ml-10" style="font-size: 24px"></i>
                </a>
                <br>
                <a *ngIf="candidate.category !== 'rejected'" href="javascript:;" (click)="changeCandidateCat(candidate.id, 'rejected')" class="uppercase">
                  reject candidate <i class="iconfont iconfont-close-o ml-10" style="font-size: 24px"></i>
                </a>
              </nz-col>
            </nz-row>
          </ng-template>

          <div class="p-20">
            <app-cmp-candidate [pid]="pid" [cid]="candidate.id"></app-cmp-candidate>
          </div>
        </nz-collapse-panel>
      </nz-collapse>
    </nz-checkbox-wrapper>
  </nz-col>
</nz-row>

<app-cmp-bancor></app-cmp-bancor>