<nz-row class="bg-gray py-60" style="min-height: 90vh">
  <nz-col nzType="flex" nzSpan="18" nzOffset="3"> 
    <h4 *ngIf="post">{{ post.job_title }} 
      <small *ngIf="post.status != 'open'">(
      {{ post.status }}
      <span nz-tooltip nzTitle="update status">
        <i class="anticon anticon-loading-3-quarters blue" 
          (click)="updatePostStatus(post)"
          [class.anticon-spin]="loadingStatus"
          *ngIf="post.status === 'pending'"
          ></i>
      </span>
    )</small></h4>
    <!-- filter -->
    <nz-radio-group [(ngModel)]="category" (ngModelChange)="searchCategory()">
      <label nz-radio-button nzValue="all">all</label>
      <label nz-radio-button nzValue="shortlist">shortlist</label>
      <label nz-radio-button nzValue="rejected">rejected</label>
      <label nz-radio-button nzValue="unrefined">unrefined</label>
    </nz-radio-group>
    

    <!-- loading -->
    <div *ngIf="!candidates" class="container d-flex h-100 flex-column justify-content-center" style="min-height: 340px">
      <img src="assets/img/loader.svg" height="36px" alt="Loader">
    </div>

    <!-- empty -->
    <div *ngIf="!candidates || (results && results.length < 1)" class="container d-flex flex-column justify-content-center text-center"
      style="min-height: 340px">
      <div class="row">
        <div class="col-12 d-flex flex-column">
          <br>
          <h4 class="fw-400">Uh, oh!</h4>
          <h5 class="fw-300">We couldn't find what you were looking for.</h5>
        </div>
      </div>
    </div>

    <!-- list -->
    <nz-collapse class="my-40" 
      [nzBordered]="false"
      *ngIf="candidates && (results && results.length > 0)">
      <nz-collapse-panel 
        *ngFor="let candidate of results" 
        [nzHeader]="candidateHeader"
        [ngStyle]="customStyle"
        [nzShowArrow]="false"
        nzDisabled
        [nzActive]="candidate.active"
        class="card card-bordered card-hover-shadow"
        >

<ng-template #candidateHeader class="p-0">
  <h4 style="text-transform: capitalize">
    {{ candidate.candidate_name }}
    <small *ngIf="'selected' == candidate.status" [class.red]="candidate.status == 'selected'" style="font-size: 50%">({{ candidate.status }})</small>
  </h4>
  <div class="flex text">
    <div class="flex1">Contact Phone or Email: 
      <a href="mailto:{{ candidate.candidate_email }}">
        <i class="iconfont iconfont-envelope ml-8"></i> {{ candidate.candidate_email }} 
      </a>
    </div>
    {{ moment(candidate.time).fromNow() }}
  </div>

  <hr class="my-2">

  <p class="text my-12" *ngIf="candidate.candidate_website || candidate.candidate_linkedin">Website or LinkedIn Profile: {{ candidate.candidate_website || candidate.candidate_linkedin }}</p>
  <p class="text my-12" *ngIf="candidate.resume.length">
    <i class="iconfont iconfont-eye-o fs-18"></i> CV/Resume: 
    <a class="mr-12" target="_blank" href="{{ file.url }}" *ngFor="let file of candidate.resume">{{ file.name }}</a>
  </p>

  <!-- op buttons -->
  <div class="flex mt-12">
    <div class="flex1">
      <a href="javascript:;"
        class="btn btn-sm btn-primary mr-12"
        *ngIf="candidate.status !== 'pending' && candidate.category !== 'shortlist'"
        (click)="changeCandidateCat(candidate, 'shortlist')"
        >
        <i class="anticon anticon-plus-circle-o mr-8"></i>
        shortlist
      </a>
      
      <a href="javascript:;"
        class="btn btn-sm btn-primary btn-outline"
        *ngIf="candidate.category !== 'rejected'"  
        (click)="changeCandidateCat(candidate, 'rejected')"
        >
        <i class="anticon anticon-minus-circle-o mr-8"></i>
        reject
      </a>
    </div>

    <a href="javascript:;"
      (click)="changeActive(candidate.id)"
      class="uppercase text fs-16"
      >
      View full application
      <i class="anticon {{ candidate.active ? 'anticon-down' : 'anticon-right' }} ml-8"></i>
    </a>

    <a href="javascript:;"
      (click)="closePost(candidate)"
      *ngIf="post.status == 'open' && category != 'rejected' && candidate.category != 'rejected' && candidate.status == 'open'" 
      class="btn btn-sm btn-primary hire-btn"
      >
      hire 
      <i class="anticon anticon-check-circle-o"></i>
    </a>
  </div>
  

</ng-template>


        <div class="p-20">
          <app-cmp-candidate [pid]="pid" [cid]="candidate.id" [list]="true"></app-cmp-candidate>
        </div>
      </nz-collapse-panel>
    </nz-collapse>
    
  </nz-col>
</nz-row>

<app-cmp-bancor></app-cmp-bancor>