<nz-row class="mt-30 mb-100">
  <nz-col nzType="flex" nzSpan="14" nzOffset="5" class="text-center"> 
    <div *ngIf="type && type == 'refer'">
      <div class="blue fw-500">
        <i class="anticon anticon-check-circle-o" style="font-size: 80px"></i>
      </div>
  
      <h4 class="my-50">Referral Successful!</h4>
  
      <p>Your talent has been sent to the job poster. </p>
  
      <div class="btns mt-60">
        <a routerLink="/refer/detail/{{ pid }}/{{ cid }}" class="btn  btn-primary btn-outline">View</a>
        <a routerLink="/" class="btn btn-primary ml-20">HOME</a>
      </div>
    </div>

    <div *ngIf="type && type == 'post'">
      <div class="blue fw-500">
        <i class="anticon anticon-check-circle-o" style="font-size: 80px"></i>
      </div>
  
      <h4 class="my-50">Job Posted!</h4>
  
      <p>Your job has been posted to CanSeek.  </p>
      <p>Share the post to maximise your chances of a successful referral.</p>

      <nz-input-group nzAddOnBefore="share" style="max-width: 400px;">
        <input type="text" nz-input value="{{ host }}/post/{{ pid }}">
      </nz-input-group>
  
      <div class="btns mt-60">
        <a routerLink="/post/detail/{{ pid }}" class="btn  btn-primary btn-outline">View</a>
        <a routerLink="/" class="btn btn-primary ml-20">HOME</a>
      </div>
    </div>
    
  </nz-col>
</nz-row>
