@green: #30D7A9;
@gray: #D1D1D1;
@red: #FF4954;
@blue: #33CCFF;
@text-grey: #9b9b9b;
@title-grey: #4A4A4A;
.text {
    color: @text-grey;
    font-size: 12px;
}
.title {
    font-size: 18px;
    // color: rgba(0, 0, 0, .85);
    font-weight: 600;
    color: @title-grey;
    text-transform: capitalize;
}
.card {
    border-radius: 5px; 
    width: 350px;
    height: 32em;
    margin: auto;
    p {
        margin-bottom: 0;
    }
}
.status {
    position: relative;
    z-index: 0;
    padding-bottom: 0 !important;
    align-items: center;
    .contributed {
        .title;
        font-weight: 600;
    }
    .iconfont-group {
        position: relative;
        top: -5px;
        font-size: 30px;
    }
    .num {
        position: absolute;
        top: 20px;
        right: 0;
        text-align: center;
        width: 30px;
    }
    .desc {
        .text;
        color: #4a4a4a;
    }
}
.logo-container{
    height: 75px;
    width: auto;
}

.card-img-top {  
    height: auto; 
    width: auto;
    padding: 15px 0 15px 0;
    // max-height: 4em; 
    max-height: 75px;
    max-width: 100px;
}
.card-text {
    max-height: 6.6em;
    overflow: auto;
    color: @title-grey;
    font-size: 12px;
    line-height: 15px;
}
.can-coin {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url('../../../../../assets/img/can_coin.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -13px;
}
.iconfont-ellipsis {
    font-size: 24px
}
.op-item {
    text-transform: uppercase;
}
.btns {
    margin-top: 6.5em;
}
.location {
    max-width: 70%;
}
.op-area {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
}
.refer-btn {
    height: 40px;
    line-height: 40px;
    padding-top: 0;
    padding-bottom: 0;
} 
