<!-- Topbar -->
<nav class="topbar topbar-expand-md topbar-sticky" id="section-top">
  <div class="container">
    <div class="topbar-left">
      <button class="topbar-toggler text-gray">&#9776;</button>
      <a class="topbar-brand mr-40" routerLink="">
        <img class="logo-default" src="assets/img/CanSeek.svg" width="auto" height="36px" alt="logo">
      </a>
      <nz-input-group nzSuffixIcon="anticon anticon-search">
        <input type="text" nz-input placeholder="search" [(ngModel)]="searchText" (input)="onSearch()">
      </nz-input-group>
    </div>  
    <div class="topbar-right" id="top-nav">
      <button class="btn-primary btn-sm btn mr-20" (click)="buyCan()">buy can ({{ store.balance }}CAN)</button>

      <ul class="topbar-nav nav mr-25"> 
        <li class="nav-item"><a href="/">HOME</a></li> 
        <li class="nav-item">
          <a href="javascript:;">
            <img class="logo-default" src="assets/img/CanApps/CanApps .svg" width="auto" height="16px" alt="CanApps" style="vertical-align: -2px">
          </a>
        </li>    
      </ul>     
      <nz-dropdown>
        <button nz-button nz-dropdown nzType="primary">
          {{ store.selectedCurrency['string'] || '$ USD' }}
          <i class="anticon anticon-down"></i>
        </button>
        <ul nz-menu>
          <li nz-menu-item>
            <a href="javascript:;" (click)="setCurrency(currency.AUD)">{{currency.AUD.string}}</a>
          </li>
          <li nz-menu-item>
            <a href="javascript:;" (click)="setCurrency(currency.EUR)">{{currency.EUR.string}}</a>
          </li>
          <li nz-menu-item>
            <a href="javascript:;" (click)="setCurrency(currency.USD)">{{currency.USD.string}}</a>
          </li>
          <li nz-menu-item>
            <a href="javascript:;" (click)="setCurrency(currency.CAN)">{{currency.CAN.string}}</a>
          </li>
        </ul>
      </nz-dropdown>
    </div> 
  </div>
</nav>
<!-- END Topbar -->