<nz-row class="mt-30 mb-100" *ngIf="type != 'noAuth'">
  <nz-col nzType="flex" nzSpan="14" nzOffset="5"> 
    <nz-steps [nzCurrent]="current" class="steps">
      <nz-step nzTitle="Job Infomation"></nz-step>
      <nz-step nzTitle="Set Fees and Reward"></nz-step>
      <nz-step nzTitle="Review"></nz-step>
    </nz-steps>
    
    <div class="steps-content mt-100">
      <!-- step1 -->
      <app-cmp-poststep1 *ngIf="current == 0"></app-cmp-poststep1>


      <!-- step2 -->
      <form *ngIf="current == 1" nz-form [formGroup]="rewardForm" (ngSubmit)="submitForm()">

        <nz-form-item>
          <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="reward" nzRequired> Admission Fee </nz-form-label>
          <nz-form-control [nzSm]="16" [nzXs]="24">
            <nz-form-extra>This is your Company’s contribution to the reward pool.</nz-form-extra>
            <input nz-input formControlName="reward" id="reward" placeholder="Minimum $50 USD">
            <nz-form-extra>Important: All Transactions on CanSeek are made in CAN tokens</nz-form-extra>
            <nz-form-explain *ngIf="rewardForm.get('reward').dirty && rewardForm.get('reward').errors">Please input your reward!</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      
        <nz-form-item>
          <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="cost" nzRequired> Application Fee </nz-form-label>
          <nz-form-control [nzSm]="16" [nzXs]="24">
            <nz-form-extra>This is the amount needed for talent hunters to join the pool. </nz-form-extra>
            <input nz-input formControlName="cost" id="cost" placeholder="Minimum $10 USD / Referral ">
            <nz-form-extra>Important: All Transactions on CanSeek are made in CAN tokens</nz-form-extra>
            <nz-form-explain *ngIf="rewardForm.get('cost').dirty && rewardForm.get('cost').errors">Please input your cost!</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      
      </form>

      <!-- step3 -->
      <div *ngIf="current == 2">
        <div class="row" *ngFor="let item of valuesArr">
          <p class="my-20">
            <span class="fw-500">{{ item.label }}:</span> {{ item.value }}</p>
        </div>
      </div>
      
    </div>
    
    <div class="steps-action mt-40 text-right">
      <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
        <span>Cancel</span>
      </button>
      <button nz-button 
        nzType="primary" 
        (click)="next()" 
        *ngIf="current < 2" 
        class="ml-20"
        >
        <span>Next</span>
      </button>
      <button class="btn btn-primary ml-20" *ngIf="current === 2" (click)="done()">Done</button>
    </div>
  </nz-col>
</nz-row>  

<app-cmp-bancor *ngIf="current == 1"></app-cmp-bancor>

<div *ngIf="type == 'noAuth'" class="container d-flex flex-column justify-content-center text-center" style="min-height: 340px">
    <div class="row">
    <div class="col-12 d-flex flex-column">
        <br>
        <h4 class="fw-400">Uh, oh!</h4>
        <h5 class="fw-300">We couldn't find what you were looking for.</h5>
    </div>
    </div>
</div>