  <div class="modal-header">
    <h4 class="modal-title">New Job Post</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="cardForm" [ngClass]="{'was-validated': cardForm && (cardForm.touched || cardForm.dirty) && !cardForm.valid }">
      <div class="form-group">
        <label for="title">Job Title</label>
        <input required type="text" class="form-control" formControlName="title" maxlength="38" placeholder="fullstack developer">
        <div class="invalid-feedback">Please input valid value</div>
      </div>
      
      <div class="form-group">
        <label for="logo">Logo</label>
        <input required type="text" class="form-control" formControlName="logo" placeholder="logo company">
        <div class="invalid-feedback">Please input valid value</div>
      </div>

      <div class="form-group">
        <label for="company">Company</label>
        <input (input)="checkEmail()" required type="text" class="form-control" formControlName="company" placeholder="google">
        <div class="invalid-feedback">Please input valid value</div>
      </div>
      
      <div class="form-group">
        <label for="email">Work Email(should match company name)</label>
        <input (input)="checkEmail()" required type="email" class="form-control" formControlName="email" placeholder="name@example.com">
        <div class="invalid-feedback">Please input valid value</div>
      </div>
      <div class="form-group">
        <label for="bounty">Bounty</label>
        <input min="500" max="{{ balance }}" required type="number" class="form-control" formControlName="bounty" placeholder="bounty">
        <div class="invalid-feedback">Please ensure your bounty bigger than 500 and less than {{ balance }}</div>
      </div>
      <div class="form-group">
        <label for="cost">Cost</label>
        <input required min="1" type="number" class="form-control" formControlName="cost" placeholder="cost">
        <div class="invalid-feedback">Please input valid value</div>
      </div>
      <div class="form-group">
        <label for="desc">Description</label>
        <textarea required class="form-control" formControlName="desc" rows="3" placeholder="description for your job"></textarea>
        <div class="invalid-feedback">Please input valid value</div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">cancel</button>
    <button type="button" class="btn btn-sm btn-primary" [disabled]="!cardForm.valid && (cardForm.get('email').errors || {}).nomatch" (click)="c('onOk')">ok</button>
  </div>