<form *ngIf="!!validateForm" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <h4 class="my-20">Talent’s Information</h4>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="candidate_name" nzRequired> Talent’s Name </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="candidate_name" id="candidate_name" placeholder="Please input">
      <nz-form-explain *ngIf="validateForm.get('candidate_name').dirty && validateForm.get('candidate_name').errors">Please input Talent’s Name!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="candidate_phone">Talent’s Phone</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="candidate_phone" id="candidate_phone" placeholder="Please input">
      <nz-form-explain *ngIf="validateForm.get('candidate_phone').dirty && validateForm.get('candidate_phone').errors">Please input Talent’s Phone!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="candidate_email" nzRequired>Talent’s Email</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="candidate_email" id="candidate_email" placeholder="Please input">
      <nz-form-explain *ngIf="validateForm.get('candidate_email').dirty && validateForm.get('candidate_email').errors">Please input Talent’s Email!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="candidate_website">Talent’s Website</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="candidate_website" id="candidate_website" placeholder="Please input">
      <nz-form-explain *ngIf="validateForm.get('candidate_website').dirty && validateForm.get('candidate_website').errors">Please input Talent’s Website!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="candidate_linkedin">Talent’s LinkedIn</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="candidate_linkedin" id="candidate_linkedin" placeholder="Please input">
      <nz-form-explain *ngIf="validateForm.get('candidate_linkedin').dirty && validateForm.get('candidate_linkedin').errors">Please input Talent’s LinkedIn!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <h4 class="my-20">Application Information</h4>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="resume"> CV/Resume </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-upload
        [nzFileList]="fileList"
        [nzBeforeUpload]="isPdf"
        [nzCustomRequest]="uploadFile"
        (nzChange)="handleChange($event)"
        >
        <button nz-button>
          <i class="anticon anticon-upload"></i><span>Upload</span>
        </button>
      </nz-upload>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="reason" nzRequired>Referring Reasons</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <textarea formControlName="reason" id="reason" nz-input rows="4" placeholder="Please input"></textarea>
      <nz-form-explain *ngIf="validateForm.get('reason').dirty && validateForm.get('reason').errors">Please input Referring Reasons!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="answers">Screening Questions1
      <!-- <br> -->
      <!-- <span class="text">(The job poster requested)</span> -->
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-form-extra>{{ post.screening_questions }}</nz-form-extra>
      <textarea formControlName="answers" id="answers" nz-input rows="4" placeholder="write anything"></textarea>
      <nz-form-explain *ngIf="validateForm.get('answers').dirty && (validateForm.get('answers').errors || {}).required">Please input Your answer!</nz-form-explain>
      <nz-form-explain *ngIf="validateForm.get('answers').dirty && (validateForm.get('answers').errors || {}).maxlength">Maximum 200 words!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="post.screening_questions2">
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="answers2">Screening Questions2</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-form-extra>{{ post.screening_questions2 }}</nz-form-extra>
      <textarea formControlName="answers2" id="answers2" nz-input rows="4" placeholder="write anything"></textarea>
      <nz-form-explain *ngIf="validateForm.get('answers2').dirty && (validateForm.get('answers2').errors || {}).required">Please input Your answer!</nz-form-explain>
      <nz-form-explain *ngIf="validateForm.get('answers2').dirty && (validateForm.get('answers2').errors || {}).maxlength">Maximum 200 words!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="post.screening_questions3">
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="answers3">Screening Questions3</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-form-extra>{{ post.screening_questions3 }}</nz-form-extra>
      <textarea formControlName="answers3" id="answers3" nz-input rows="4" placeholder="write anything"></textarea>
      <nz-form-explain *ngIf="validateForm.get('answers3').dirty && (validateForm.get('answers3').errors || {}).required">Please input Your answer!</nz-form-explain>
      <nz-form-explain *ngIf="validateForm.get('answers3').dirty && (validateForm.get('answers3').errors || {}).maxlength">Maximum 200 words!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="cover_letter">Cover Letter</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-upload
        [nzFileList]="cover_letter"
        [nzBeforeUpload]="isPdf"
        [nzCustomRequest]="uploadCoverLetter"
        (nzChange)="handleChange($event, 'cover_letter')"
        >
        <button nz-button disabled *ngIf="cover_letter.length > 0">
          <i class="anticon anticon-upload"></i><span>Upload</span>
        </button>
        <button nz-button *ngIf="cover_letter.length == 0">
          <i class="anticon anticon-upload"></i><span>Upload</span>
        </button>
      </nz-upload>
    </nz-form-control>
  </nz-form-item>
  
</form>