<a href="javascript:;" class="nav-link" *ngIf="!store.profile.your_email">
  <button class="btn btn-join btn-sm text-white" (click)="showModal()">Join</button>
</a>

<nz-dropdown 
  [nzPlacement]="'bottomCenter'"  
  *ngIf="store.profile.your_email"
  >
  <a nz-dropdown [class.offline]="!store.authState.emailVerified" class="user">
    <img class="avatar mr-12" alt="CanYa" src="{{ store.authState.photoURL }}" onerror="this.src='/assets/img/defaultAvatar.png'">

    <i class="anticon anticon-down"></i>
    <i class="iconfont iconfont-notifications notify-bell animated infinite swing" *ngIf="hasNotify"></i>
  </a>
  <ul nz-menu>
    <ng-container *ngIf="!store.authState.emailVerified">
      <li nz-menu-item *ngIf="!store.authState.emailVerified">Please verify your email</li>
      <li nz-menu-divider></li>
    </ng-container>

    <li nz-menu-item (click)="showModal()">User Profile</li>
    <ng-container *ngIf="store.authState.emailVerified">
      <li nz-menu-divider></li>
      <li nz-menu-item (click)="logout()">Logout</li>
    </ng-container>

    <ng-container *ngIf="hasNotify">
      <li nz-menu-divider></li>
      <li nz-menu-item>
        <a routerLink="/notifications" class="notify-dot">Notifications</a>
      </li>
    </ng-container>
  </ul>
</nz-dropdown>

<nz-modal [(nzVisible)]="visible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()">
  <ng-template #modalTitle>
    User Profile details
  </ng-template>

  <ng-template #modalContent>
    <form *ngIf="visible" nz-form [nzLayout]="vertical" [formGroup]="form" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label> MetaMask address </nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="mm" id="mm" placeholder="Please input your MetaMask address">
          <!-- <nz-select nzMode="tags" nzPlaceHolder="input or search" formControlName="mm" id="mm">
            <nz-option *ngFor="let option of formData.mm" [nzLabel]="option" [nzValue]="option">
            </nz-option>
          </nz-select> -->
          <nz-form-extra>Current Address: {{ store.curUser }}</nz-form-extra>
        </nz-form-control>
        
      </nz-form-item>
      
      <nz-form-item>
        <nz-form-label nzFor="your_name" nzRequired> Your Name </nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="your_name" id="your_name" placeholder="First Name, Last Name">
          <nz-form-explain *ngIf="form.get('your_name').dirty && form.get('your_name').errors">Please input Your Name</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="your_email" nzRequired> Your Email </nz-form-label>
        <nz-form-control>
          <nz-row class="flex">
            <nz-col class="flex1">
              <input nz-input formControlName="your_email" id="your_email" placeholder="user@email.com">
            </nz-col>
            <nz-col class="ml-12">
              <button nz-button 
              class="my-0"
              *ngIf="form.get('your_email').value !== store.authState.email || store.authState.emailVerified !== true"
              [nzLoading]="loading" (click)="emailVerify()">Verify</button>
              <button nz-button disabled
                class="my-0"
                *ngIf="(form.get('your_email').value == store.authState.email) && store.authState.emailVerified == true"
                >Verified</button>
            </nz-col>
          </nz-row>

          <nz-form-explain *ngIf="form.get('your_email').dirty && form.get('your_email').errors">Please input Your Email</nz-form-explain>
          <nz-form-extra>To help us verify your account and job posts, this email domain must match your company’s website domain. 
              eg. support@canya.com matches canya.com</nz-form-extra>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="company_name" nzRequired> Company Name </nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="company_name" id="company_name" placeholder="Company Name">
          <nz-form-explain *ngIf="form.get('company_name').dirty && form.get('company_name').errors">Please input Your Company Name</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </form>

    <p class="fw-600 text-center">We will send you an email to verify this address. 
    <br>Once verified, login  with MetaMask to get started.</p>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" (click)="handleOk()">Save</button>
  </ng-template>
</nz-modal>