.offline {
    filter: grayscale();
}
.user {
    padding: 18px 0;
}

.btn-join {
    border-radius: 20px;
    height: 30px;
    width: 135px;
    line-height: 1.9;
    letter-spacing: 3px;
    background-image: linear-gradient(122deg, #00FFCC 0%, #33ccff 93%);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0) !important;
    &:hover {
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.1) !important;
    }
}
.avatar {
@size: 48px;
    width: @size;
    height: @size;
    border-radius: 50%;
}