<nz-row class="mt-30 mb-100">
  <nz-col nzType="flex" nzSpan="14" nzOffset="5" class="text-center"> 

    <!-- loading -->
    <div *ngIf="loading" class="container d-flex h-100 flex-column justify-content-center" style="min-height: 340px">
      <img src="assets/img/loader.svg" height="36px" alt="Loader">
    </div>


    <ng-container *ngIf="!loading" [ngSwitch]="notification.action_type">

      <!-- close -->
      <ng-container *ngSwitchCase="'close'">
        <img src="/assets/img/CanSeek.svg" alt="canseek" style="height: 64px;">
        <h2 class="my-60"> Congratulations ! </h2>

        <p class="fs-22">Thank you for participating in CanSeek, you have won the reward for 
          <br>
          <ng-container *ngIf="post">“{{ post.job_title }} @ {{ post.company_name }}”</ng-container>
        </p>
        <p class="fs-22">The reward has been transferred to your Metamask.</p>

        <p class="mt-30 fs-14" style="letter-spacing: 1px"><span class="fs-12 fw-600">TX#</span> {{ notification.hash }}</p>

        <a href="{{ etherscanBaseUrl }}{{ notification.hash }}" target="_blank" class="text-uppercase fs-12 fw-600">VIEW ON ETHERSCAN</a>
        <br>
        <a routerLink="/" class="btn btn-primary mt-50">RETURN HOME</a>
      </ng-container>

      <!-- refer -->
      <ng-container *ngSwitchCase="'refer'">
        <img src="/assets/img/CanSeek.svg" alt="canseek" style="height: 64px;">
        <h2 class="my-60"> Congratulations ! </h2>

        <p class="fs-22">Your post
          <br>
          <ng-container *ngIf="post">“{{ post.job_title }} @ {{ post.company_name }}”</ng-container>
        </p>
        <p class="fs-22">has received a new applicant.</p>

        <div class="mt-50">
          <a routerLink="/refer/detail/{{ notification.pid }}/{{ notification.cid }}" class="btn  btn-primary btn-outline">View Details</a>
          <a routerLink="/" class="btn btn-primary ml-20">RETURN HOME</a>
        </div>
        
      </ng-container>

    </ng-container>

  </nz-col>
</nz-row>



  
