
<nz-dropdown [nzPlacement]="'bottomCenter'">
  <a href="javascript:;" nz-dropdown class="wrapper">
    <i class="fa fa-circle fs-9 mr-8" [ngStyle]="{'color': web3Color}"></i>
    <i class="anticon anticon-down"></i>
  </a> 
  <ul nz-menu>
      <li nz-menu-item> 
        <span>
            <i class="fa fa-circle fs-9 mr-12" [ngStyle]="{'color': web3Color}"></i> 
            <span>Ethereum Network : </span>
            <span *ngIf="store.curNet" style="text-transform: capitalize">{{ store.curNet }}</span>
            <span *ngIf="!store.curNet" style="text-transform: capitalize">None</span>
          </span>
      </li> 
    <li nz-menu-divider></li>
    <li nz-menu-item> 
      <span>
        &nbsp;
        &nbsp;
        &nbsp;
        {{ web3Message }}
      </span>
    </li> 
    <li nz-menu-divider *ngIf="store.curUser !== '' "></li>
    <li *ngIf="store.curUser !== '' " nz-menu-item>  
      <span>
        &nbsp;
        &nbsp;
        &nbsp;
        CAN Balance : {{store.balance}}
        <i class="can-media-coin ml-12"></i>
      </span>
    </li> 
    <li *ngIf="store.curNet === 'main' && store.curUser !== '' " nz-menu-item>  
      <span>
        &nbsp;
        &nbsp;
        &nbsp;
        <button class="buycan" nz-button nzType="primary" routerLink="/buycan">buy can</button>
      </span>
    </li>   
  </ul> 
</nz-dropdown>
