<form *ngIf="!!validateForm" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <h4>Your Information</h4>

  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="your_name" nzRequired> Your Name </nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <input nz-input formControlName="your_name" id="your_name" placeholder="Please input">
      <nz-form-explain *ngIf="validateForm.get('your_name').dirty && validateForm.get('your_name').errors">Please input your Name!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="your_email" nzRequired> Your Company Email </nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <input nz-input formControlName="your_email" id="your_email" placeholder="Please input">
      <nz-form-explain *ngIf="validateForm.get('your_email').dirty && validateForm.get('your_email').errors">Please input Your Company Email!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="owner_addr"> Your MetaMask Address </nz-form-label>
    <nz-col [nzSm]="16" [nzXs]="24">
      <input [(ngModel)]="store.curUser" nz-input formControlName="owner_addr" id="owner_addr">
    </nz-col>
  </nz-form-item> 

  <h4>Job Information</h4>

  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="job_title" nzRequired> Job Title </nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <input nz-input formControlName="job_title" id="job_title" placeholder="Please input">
      <nz-form-explain *ngIf="validateForm.get('job_title').dirty && validateForm.get('job_title').errors">Please input Job Title!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="job_desc" nzRequired> Job Description </nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <textarea formControlName="job_desc" id="job_desc" nz-input rows="4" placeholder="Please input"></textarea>
      <nz-form-explain *ngIf="validateForm.get('job_desc').dirty && validateForm.get('job_desc').errors">Please input Job Description!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="job_location"> Job Location </nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <input nz-input formControlName="job_location" id="job_location" placeholder="Please input">
      <nz-form-explain *ngIf="validateForm.get('job_location').dirty && validateForm.get('job_location').errors">Please input Job Location!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="job_type" nzRequired>Position Type</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-radio-group formControlName="job_type" id="job_type" class="uppercase">
        <label nz-radio-button nzValue="full time">full time</label>
        <label nz-radio-button nzValue="part time">part time</label>
        <label nz-radio-button nzValue="contract">contract/temp</label>
        <label nz-radio-button nzValue="casual">casual</label>
      </nz-radio-group>
      <nz-form-explain *ngIf="validateForm.get('job_type').dirty && validateForm.get('job_type').errors">Please select Position Type!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="job_remote">Remote</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <label nz-checkbox formControlName="job_remote">Allow Remote Working</label>
      <nz-form-explain *ngIf="validateForm.get('job_remote').dirty && validateForm.get('job_remote').errors">Please select Allow Remote Working!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="job_range"> Salary Range </nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <input nz-input formControlName="job_range" id="job_range">
    </nz-form-control>
  </nz-form-item>
  
  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="job_attachments"> Attachments </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-upload
        [nzFileList]="fileList"
        [nzCustomRequest]="uploadFile"
        (nzChange)="handleChange($event)"
        nzMultiple>
        <button nz-button>
          <i class="anticon anticon-upload"></i><span>Upload</span>
        </button>
      </nz-upload>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="job_level" nzRequired>Experience Level</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-radio-group formControlName="job_level" id="job_level" class="uppercase">
        <label nz-radio-button nzValue="entry">entry</label>
        <label nz-radio-button nzValue="mid level">mid level</label>
        <label nz-radio-button nzValue="senior">senior</label>
        <label nz-radio-button nzValue="executive">executive</label>
      </nz-radio-group>
      <nz-form-explain *ngIf="validateForm.get('job_level').dirty && validateForm.get('job_level').errors">Please select Experience Level!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="screening_questions"> Screening Questions 1 </nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
        <nz-form-extra> Specific questions related to the role. These questions help shortlist qualified candidates.</nz-form-extra>
        <input nz-input formControlName="screening_questions" id="screening_questions">
        <nz-form-explain *ngIf="validateForm.get('screening_questions').dirty && validateForm.get('screening_questions').errors">Please input at least 1 Screening Question!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="screening_questions2"> Screening Questions 2 </nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
        <input nz-input formControlName="screening_questions2" id="screening_questions2">
        <nz-form-explain *ngIf="validateForm.get('screening_questions2').dirty && validateForm.get('screening_questions2').errors">Please input Screening Question!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="screening_questions3"> Screening Questions 3 </nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
        <input nz-input formControlName="screening_questions3" id="screening_questions3">
        <nz-form-explain *ngIf="validateForm.get('screening_questions3').dirty && validateForm.get('screening_questions3').errors">Please input Screening Question!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  
  <h4>Company Information</h4>

  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="company_logo"> Company Logo </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-upload
        nzListType="picture"
        [nzBeforeUpload]="beforeUpload"
        [nzFileList]="logo"
        [nzCustomRequest]="uploadImage"
        (nzChange)="handleChange($event, 'logo')"
        [nzShowButton]="logo.length < 1"
        [nzPreview]="handlePreview"
        >
        <div class="wrappr border text-center">
          <i class="anticon anticon-plus mt-8"></i>
          <div class="ant-upload-text">Upload</div>
        </div>
      </nz-upload>
    </nz-form-control>
  </nz-form-item>
  

  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="company_name" nzRequired> Company Name </nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <input nz-input formControlName="company_name" id="company_name" placeholder="Please input">
      <nz-form-explain *ngIf="validateForm.get('company_name').dirty && validateForm.get('company_name').errors">Please input your Company Name!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="company_website"> Company Website </nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <input nz-input formControlName="company_website" id="company_website" placeholder="Please input">
      <!-- <nz-form-explain *ngIf="validateForm.get('company_website').dirty && validateForm.get('company_website').errors">Please input your Company Website!</nz-form-explain> -->
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="company_desc" nzRequired> Company Description </nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <textarea formControlName="company_desc" id="company_desc" nz-input rows="4" placeholder="Please input"></textarea>
      <nz-form-explain *ngIf="validateForm.get('company_desc').dirty && validateForm.get('company_desc').errors">Please input your Company Description!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
</form>

<!-- <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
  <ng-template #modalContent>
    <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
  </ng-template>
</nz-modal> -->
