<form *ngIf="!!validateForm" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <h4 class="fw-500 my-30">Your Information</h4>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="your_name" nzRequired> Your Name </nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24">
      <input [(ngModel)]="store.profile.your_name" nz-input formControlName="your_name" id="your_name" placeholder="First Name, Last Name">
      <nz-form-explain *ngIf="validateForm.get('your_name').dirty && validateForm.get('your_name').errors">Please input your Name</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="your_email" nzRequired> Your Company Email </nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24">
      <input nz-input formControlName="your_email" id="your_email" placeholder="Please input">
      <nz-form-explain *ngIf="validateForm.get('your_email').dirty && validateForm.get('your_email').errors">Please input Your Company Email</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="owner_addr" nzRequired> Your MetaMask Address </nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24" nzValidateStatus="{{ store.curUser ? '' : 'validating' }}" nzHasFeedback>
      <nz-form-extra *ngIf="!store.curUser">Sign in to MetaMask to connect your wallet address to CanSeek</nz-form-extra>
      <input [(ngModel)]="store.curUser" nz-input formControlName="owner_addr" id="owner_addr">
    </nz-form-control>
  </nz-form-item> 

  <h4 class="fw-500 my-30">Create a Job Post</h4>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="job_title" nzRequired> Job Title </nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24">
      <input nz-input formControlName="job_title" id="job_title" placeholder="Job Title">
      <nz-form-explain *ngIf="validateForm.get('job_title').dirty && validateForm.get('job_title').errors">Please input Job Title</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="job_desc" nzRequired> Job Description </nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24">
      <textarea formControlName="job_desc" id="job_desc" nz-input rows="9" placeholder="A good job description helps jobseekers match their skills and experience to your needs.

Let them know:

- What's great about your business
- Day-to-day job responsibilities
- Attractive benefits and perks
- Top requirements in a candidate"></textarea>
      <nz-form-explain *ngIf="validateForm.get('job_desc').dirty && validateForm.get('job_desc').errors">Please input Job Description</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="job_location" nzRequired> Job Location </nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24">
      <nz-row [nzGutter]="32">
        <nz-col [nzSpan]="16">
          <nz-select 
            formControlName="job_location" 
            nzPlaceHolder="Location, Country or Timezone UTC" 
            nzAllowClear 
            nzShowSearch 
            (nzOpenChange)="onOpenChange()"
            nzNotFoundContent="No such data"
            >
            <ng-container *ngFor="let o of optionList">
              <nz-option [nzValue]="o" [nzLabel]="o"></nz-option>
            </ng-container>
          </nz-select>
        </nz-col>
        <nz-col [nzSpan]="8">
          <label nz-checkbox (ngModelChange)="onUseUTC($event)" formControlName="only_show_timezone">Only show time zone</label>
        </nz-col>
      </nz-row>
      
      <nz-form-explain *ngIf="validateForm.get('job_location').dirty && validateForm.get('job_location').errors">Please select Job Location</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="job_type" nzRequired>Position Type</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24">
      <nz-radio-group formControlName="job_type" id="job_type">
        <label nz-radio-button nzValue="Full Time">Full Time</label>
        <label nz-radio-button nzValue="Part Time">Part Time</label>
        <label nz-radio-button nzValue="Contract">contract/temp</label>
        <label nz-radio-button nzValue="Casual">casual</label>
      </nz-radio-group>
      <nz-form-explain *ngIf="validateForm.get('job_type').dirty && validateForm.get('job_type').errors">Please select Position Type</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="job_remote">Allow Remote Working</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24">
      <nz-radio-group formControlName="job_remote" id="job_remote">
        <label nz-radio-button nzValue="1">yes</label>
        <label nz-radio-button nzValue="0">no</label>
      </nz-radio-group>

      <nz-form-explain *ngIf="validateForm.get('job_remote').dirty && validateForm.get('job_remote').errors">Please select Allow Remote Working</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24"> Salary Range </nz-form-label>
    <nz-col [nzSm]="18" [nzXs]="24">
      <nz-input-group nzCompact>
        <nz-select [ngModel]="store.selectedCurrency.string" style="width: 120px;" formControlName="salary_currency">
          <nz-option *ngFor="let currency of store.currencyArr" [nzLabel]="currency" [nzValue]="currency"></nz-option>
        </nz-select>
        
        <input type="text" nz-input formControlName="salary_min" id="salary_min"  placeholder="Minimum" style="width:160px; text-align: center;">
        <input type="text" disabled nz-input placeholder="~" style="width: 30px; border-left: 0px; pointer-events: none; background-color: rgb(255, 255, 255);">
        <input type="text" nz-input formControlName="salary_max" id="salary_max"  placeholder="Maximum" style="width: 160px; text-align: center; border-left: 0px;">

        <nz-select style="width: 120px;" formControlName="salary_cycle">
          <nz-option *ngFor="let cycle of store.salary_cycles" [nzLabel]="cycle" [nzValue]="cycle"></nz-option>
        </nz-select>
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('salary_min').dirty && (validateForm.get('salary_min').errors || {}).number">Please input number</nz-form-explain>
      <nz-form-explain *ngIf="validateForm.get('salary_max').dirty && (validateForm.get('salary_max').errors || {}).number">Please input number</nz-form-explain>
    </nz-col>
  </nz-form-item>
  
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="job_attachments"> Attachments </nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24">
      <app-cmp-upload (onChange)="onChange($event, 'job_attachments')" [catogery]="store.curUser" [fileList]="fileList"></app-cmp-upload>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="job_level" nzRequired>Experience Level</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24">
      <nz-radio-group formControlName="job_level" id="job_level">
        <label nz-radio-button nzValue="entry">entry</label>
        <label nz-radio-button nzValue="mid level">mid level</label>
        <label nz-radio-button nzValue="senior">senior</label>
        <label nz-radio-button nzValue="executive">executive</label>
      </nz-radio-group>
      <nz-form-explain *ngIf="validateForm.get('job_level').dirty && validateForm.get('job_level').errors">Please select Experience Level</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="screening_questions"> Screening Question 1 </nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24">
        <nz-form-extra> Specific questions related to the role. These questions help shortlist qualified candidates.</nz-form-extra>
        <input nz-input formControlName="screening_questions" id="screening_questions" placeholder="Question 1: Example What’s your experience with cryptocurrencies?">
        <nz-form-explain *ngIf="validateForm.get('screening_questions').dirty && validateForm.get('screening_questions').errors">Please input at least 1 Screening Question</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="screening_questions2"> Screening Question 2 </nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24">
        <input nz-input formControlName="screening_questions2" id="screening_questions2" placeholder="Question 2: Example How many years experience do you have with blockchain?">
        <nz-form-explain *ngIf="validateForm.get('screening_questions2').dirty && validateForm.get('screening_questions2').errors">Please input Screening Question</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="screening_questions3"> Screening Question 3 </nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24">
        <input nz-input formControlName="screening_questions3" id="screening_questions3" placeholder="Question 3: Example Why do you want to work with us?">
        <nz-form-explain *ngIf="validateForm.get('screening_questions3').dirty && validateForm.get('screening_questions3').errors">Please input Screening Question</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  
  <h4 class="fw-500 my-30">Company Information</h4>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="company_logo" nzRequired> Company Logo </nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24">
      <app-cmp-upload nzListType="picture" (onChange)="onChange($event, 'company_logo')" [catogery]="store.curUser" [fileList]="logo"></app-cmp-upload>
      <nz-form-explain *ngIf="validateForm.get('company_logo').dirty && validateForm.get('company_logo').errors">Please upload Company Logo</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="company_name" nzRequired> Company Name </nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24">
      <input [(ngModel)]="store.profile.company_name" nz-input formControlName="company_name" id="company_name" placeholder="Company Name">
      <nz-form-explain *ngIf="validateForm.get('company_name').dirty && validateForm.get('company_name').errors">Please input your Company Name</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="company_website"> Company Website </nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24">
      <input nz-input formControlName="company_website" id="company_website" placeholder="Please input">
      <nz-form-extra>Important: You can only post jobs for companies from official company email addresses. This means the domain of the email you used to sign in must match the company website domain as prefilled here. If you want to add another company or domain, please verify additional company email addresses in your account.</nz-form-extra>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="company_desc" nzRequired> Company Description </nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24">
      <textarea formControlName="company_desc" id="company_desc" nz-input rows="7" placeholder="A brief but compelling company description helps jobseekers understand and talent recruiters understand what's great about your business."></textarea>
      <nz-form-explain *ngIf="validateForm.get('company_desc').dirty && validateForm.get('company_desc').errors">Please input your Company Description</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
</form>
