<form *ngIf="!!validateForm" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">

  <h4>Job Information</h4>

  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="job_title" nzRequired> Job Title </nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <input nz-input formControlName="job_title" id="job_title">
      <nz-form-explain *ngIf="validateForm.get('job_title').dirty && validateForm.get('job_title').errors">Please input your job_title!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="job_desc" nzRequired> Job Description </nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <textarea formControlName="job_desc" id="job_desc" nz-input rows="4" placeholder="write any thing"></textarea>
      <nz-form-explain *ngIf="validateForm.get('job_desc').dirty && validateForm.get('job_desc').errors">Please input your job_desc!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="job_location" nzRequired> Job Location </nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <input nz-input formControlName="job_location" id="job_location">
      <nz-form-explain *ngIf="validateForm.get('job_location').dirty && validateForm.get('job_location').errors">Please input your job_location!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="job_type" nzRequired>Position Type</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-radio-group formControlName="job_type" id="job_type">
        <label nz-radio-button nzValue="A">full time</label>
        <label nz-radio-button nzValue="B">part time</label>
        <label nz-radio-button nzValue="C">contract/temp</label>
        <label nz-radio-button nzValue="D">casual</label>
      </nz-radio-group>
      <nz-form-explain *ngIf="validateForm.get('job_type').dirty && validateForm.get('job_type').errors">Please input your job_type!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="job_range"> Salary Range </nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <input nz-input formControlName="job_range" id="job_range">
      <nz-form-explain *ngIf="validateForm.get('job_range').dirty && validateForm.get('job_range').errors">Please input your job_range!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="job_attachments"> Attachments </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <!-- formControlName="job_attachments" id="job_attachments" -->
      <nz-upload
        nzAction="https://jsonplaceholder.typicode.com/posts/"
        [nzFileList]="fileList"
        nzMultiple
        [nzLimit]="2"
        (nzChange)="handleChange($event)">
        <button nz-button>
          <i class="anticon anticon-upload"></i><span>Upload</span>
        </button>
      </nz-upload>
      <nz-form-explain *ngIf="validateForm.get('job_attachments').dirty && validateForm.get('job_attachments').errors">Please input your job_attachments!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="job_level" nzRequired>Experience Level</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-radio-group formControlName="job_level" id="job_level">
        <label nz-radio-button nzValue="A">entry</label>
        <label nz-radio-button nzValue="B">mid level</label>
        <label nz-radio-button nzValue="C">senior</label>
        <label nz-radio-button nzValue="D">excutive</label>
      </nz-radio-group>
      <nz-form-explain *ngIf="validateForm.get('job_level').dirty && validateForm.get('job_level').errors">Please input your job_level!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="job_qu1" nzRequired> Screening Question1 </nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <input nz-input formControlName="job_qu1" id="job_qu1">
      <nz-form-explain *ngIf="validateForm.get('job_qu1').dirty && validateForm.get('job_qu1').errors">Please input your job_qu1!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="job_qu2" nzRequired> Screening Question2 </nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <input nz-input formControlName="job_qu2" id="job_qu2">
      <nz-form-explain *ngIf="validateForm.get('job_qu2').dirty && validateForm.get('job_qu2').errors">Please input your job_qu2!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="job_qu3" nzRequired> Screening Question3 </nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <input nz-input formControlName="job_qu3" id="job_qu3">
      <nz-form-explain *ngIf="validateForm.get('job_qu3').dirty && validateForm.get('job_qu3').errors">Please input your job_qu3!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  
  <h4>Company Information</h4>

  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="company_logo"> company_logo </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <!-- formControlName="company_logo" id="company_logo" -->
      <nz-upload
        nzAction="https://jsonplaceholder.typicode.com/posts/"
        [nzFileList]="fileList"
        nzMultiple
        [nzLimit]="2"
        (nzChange)="handleChange($event)">
        <button nz-button>
          <i class="anticon anticon-upload"></i><span>Upload</span>
        </button>
      </nz-upload>
      <nz-form-explain *ngIf="validateForm.get('company_logo').dirty && validateForm.get('company_logo').errors">Please input your company_logo!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="company_name" nzRequired> Company Name </nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <input nz-input formControlName="company_name" id="company_name">
      <nz-form-explain *ngIf="validateForm.get('company_name').dirty && validateForm.get('company_name').errors">Please input your company_name!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="company_website"> Company Website </nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <input nz-input formControlName="company_website" id="company_website">
      <nz-form-explain *ngIf="validateForm.get('company_website').dirty && validateForm.get('company_website').errors">Please input your company_website!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="company_desc" nzRequired> Company Description </nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <textarea formControlName="company_desc" id="company_desc" nz-input rows="4" placeholder="write any thing"></textarea>
      <nz-form-explain *ngIf="validateForm.get('company_desc').dirty && validateForm.get('company_desc').errors">Please input your company_desc!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <h4>Your Information</h4>

  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="your_name" nzRequired> Name </nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <input nz-input formControlName="your_name" id="your_name">
      <nz-form-explain *ngIf="validateForm.get('your_name').dirty && validateForm.get('your_name').errors">Please input your your_name!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="your_email" nzRequired> Email </nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <input nz-input formControlName="your_email" id="your_email">
      <nz-form-explain *ngIf="validateForm.get('your_email').dirty && validateForm.get('your_email').errors">Please input your your_email!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="your_address" nzRequired> Your ETH Address </nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <input nz-input formControlName="your_address" id="your_address">
      <nz-form-explain *ngIf="validateForm.get('your_address').dirty && validateForm.get('your_address').errors">Please input your your_address!</nz-form-explain>
    </nz-form-control>
  </nz-form-item> 
</form>