<nz-row class="bg-gray py-60" style="min-height: 90vh">
  <nz-col nzType="flex" nzSpan="14" nzOffset="5">
    
    <!-- loading -->
    <div *ngIf="!notifications" class="container d-flex h-100 flex-column justify-content-center" style="min-height: 340px">
      <img src="assets/img/loader.svg" height="36px" alt="Loader">
    </div>
    
    <!-- empty -->
    <div *ngIf="notifications && !notifications.length" class="container d-flex flex-column justify-content-center text-center"
      style="min-height: 340px">
      <div class="row">
        <div class="col-12 d-flex flex-column">
          <br>
          <h4 class="fw-400">Uh, oh!</h4>
          <h5 class="fw-300">There seems no new notifications.</h5>
        </div>
      </div>
    </div>

    <!-- list -->
    <ng-container *ngIf="notifications && notifications.length">

      <a href="javascript:;" (click)="readAll()" class="fs-14 uppercase">Mark All As Read</a>

      <div class="card card-bordered card-hover-shadow card-body my-20" *ngFor="let n of notifications">
        <ng-container [ngSwitch]="n.action_type">
          <!-- close -->
          <ng-container *ngSwitchCase="'close'">
            <p class="card-title clamp2">
              <i class="iconfont iconfont-down mr-12 text-success"></i> <a routerLink="/notifications/{{ n.id }}">Congratulations you win the job !</a>
            </p>
            Thank you for participating in CanSeek, you have won the reward for ... ... The reward has been transferred to your Metamask.
          </ng-container>
        </ng-container>
      </div>
    </ng-container>

  </nz-col>
</nz-row>
