<!-- Header -->
<header class="fadeout pb-30" id="section-home">
  <div class="container">
    <div class="row h-full justify-content-center align-items-center text-center text-lg-left">

      <div class="col-12 col-md-6">
        <div class="img"></div>
      </div>

      <div class="col-12 col-md-6 col-form-desk">
        <div class="row px-10 align-items-center">
          <div class="col-12 text-center text-md-left">
              <div class="logo"></div>
              <h4 class="subtitle hidden-lg-up fw-400">
                  Refer High Quality Talent
                  <br>
                  Earn Rewards
              </h4>
              <a routerLink="/post" [queryParams]="{ type: 'new' }" class="btn btn-primary btn-canya-gradient btn-primary">post a job</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</header>
<!-- END Header -->
