<!-- loading -->
<div *ngIf="!candidate" class="container d-flex h-100 flex-column justify-content-center" style="min-height: 340px">
  <img src="assets/img/loader.svg" height="36px" alt="Loader">
</div>

<section *ngIf="candidate">
  <h3 *ngIf="post && candidate.status == 'pending'">Status: 
    <small>{{ candidate.status }}
      <span nz-tooltip nzTitle="update status">
        <i class="anticon anticon-loading-3-quarters blue" 
          (click)="updateCandidateStatus(post, candidate)"
          [class.anticon-spin]="loading"
          *ngIf="candidate.status === 'pending'"
          ></i>
      </span>
    </small>
  </h3>

  <div *ngFor="let category of store.referForm">
    <ng-container *ngIf="!(category.label == 'Your contact details' && list == true)">
      <h3>{{ category.label }}:</h3>
      <ng-container *ngFor="let item of category.value">
        <nz-row class="my-20" nzGutter="16">
          <nz-col nzSpan="6" class="bold text-left">{{ item.label }}:</nz-col>
  
          <!-- format output -->
          <ng-container [ngSwitch]="item.field">
            <nz-col nzSpan="18" *ngSwitchCase="'reason'" [innerHtml]="candidate[item.field]"></nz-col>
            <nz-col nzSpan="18" *ngSwitchCase="'answers'" [innerHtml]="candidate[item.field]"></nz-col>
            <nz-col nzSpan="18" *ngSwitchCase="'answers2'" [innerHtml]="candidate[item.field]"></nz-col>
            <nz-col nzSpan="18" *ngSwitchCase="'answers3'" [innerHtml]="candidate[item.field]"></nz-col>
  
            <nz-col nzSpan="18" *ngSwitchCase="'resume'">
              <a class="mr-12" target="_blank" href="{{ file.url }}" *ngFor="let file of candidate[item.field]">{{ file.name }}</a>
            </nz-col>
            <nz-col nzSpan="18" *ngSwitchCase="'cover_letter'">
              <a class="mr-12" target="_blank" href="{{ file.url }}" *ngFor="let file of candidate[item.field]">{{ file.name }}</a>
            </nz-col>
            <nz-col nzSpan="18" *ngSwitchDefault>{{ candidate[item.field] }}</nz-col>
          </ng-container>
  
        </nz-row>
      </ng-container>
    </ng-container>
    
  </div>
</section>
