<!-- filter & new -->
<div class="filter d-flex justify-content-between">
  <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="statusIndex" (change)="searchStatus()">
    <label *ngFor="let statusTxt of statusArr; let i=index" ngbButtonLabel class="btn-outline-primary btn-sm btn">
      <input ngbButton type="radio" [value]="i"> {{ statusTxt }}
    </label>
  </div>
  <button class="btn-primary" (click)="openCard(cardmodal, {}, 'new')">new card</button>
</div>

<!-- loading -->
<div *ngIf="loading" class="container d-flex h-100 flex-column justify-content-center">
  <img src="assets/img/loader.svg" height="36px" alt="Loader">
</div>

<!-- empty -->
<div *ngIf="!loading && (results && results.length < 1)" class="container d-flex flex-column justify-content-center text-center">
  <div class="row">
    <div class="col-12 d-flex flex-column">
      <br>
      <h4 class="fw-400">Uh, oh!</h4>
      <h5 class="fw-300">We couldn't find what you were looking for.</h5>
    </div>
  </div>
</div>

<!-- list -->
<section *ngIf="!loading && (results && results.length > 0)" class="card-grid">
  <div *ngFor="let card of results" class="card {{ card.status }}">
    <a *ngIf="card.status === 'open' && curUser === card.ownerAddr" href="javascript:;" class="fa fa-trash" (click)="open(cancelcardmodal, card)">&nbsp;Cancel</a>
    <img class="card-img-top" src="{{ card.logo || 'https://canya.io/images/CanYa_logo.png' }}" alt="{{ card.company }}'s logo">
    <div class="card-body">
      <h5 class="card-title">{{ card.title }}@{{ card.company }} 
        <a href="javascript:;" class="card-link" ngbPopover="bounty: {{ card.bounty }} plus {{ (card.candidates || []).length }} candidates which each cost {{ card.cost }}" triggers="mouseenter:mouseleave" style="color: #33ccff">
          (pool: C$ {{ card.bounty + (card.candidates || []).length * card.cost }}) 
        </a>
      </h5>
      <p class="card-text clamp4" (click)="openCard(cardmodal, card, curUser === card.ownerAddr ? 'edit' : 'read')">
          {{ card.desc }}
      </p>
      <div class="d-flex justify-content-between">
        <!-- todo -->
        <a *ngIf="card.status === 'pending' && curUser === card.ownerAddr" href="javascript:;" class="btn btn-primary" (click)="updateStatus(card.id)">Update</a>
        <!-- todo addpost -->
        <a *ngIf="card.status === 'pending' && curUser === card.ownerAddr" href="javascript:;" class="card-link" (click)="repost(card)">Repost</a>
        <!-- todo -->
        <a *ngIf="card.status === 'open' && curUser !== card.ownerAddr" href="javascript:;" class="btn btn-primary" (click)="open(candidatemodal)">Apply</a>
        <a *ngIf="card.status === 'open' && curUser === card.ownerAddr" href="javascript:;" class="btn btn-primary" (click)="openCard(cardmodal, card, 'edit')">Edit</a>
        <!-- todo -->
        <a href="javascript:;" class="card-link" (click)="openCandidates(candidatesmodal, card.candidates, curUser === card.ownerAddr ? 'edit' : 'read')" style="align-self: center;">{{ (card.candidates || []).length }}+ candidates </a>
      </div>
    </div>
  </div>
</section>

<!-- card modal -->
<ng-template #cardmodal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{ type }} card</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="cardForm">
      <div class="form-group">
        <label for="title">Job Title</label>
        <input *ngIf="type !== 'new'" [attr.disabled] type="text" class="form-control" formControlName="title" placeholder="fullstack developer">
        <input *ngIf="type === 'new'" type="text" class="form-control" formControlName="title" placeholder="fullstack developer">
      </div>
      <div class="form-group">
        <label for="company">Company</label>
        <input *ngIf="type !== 'new'" [attr.disabled] type="" class="form-control" formControlName="company" placeholder="google">
        <input *ngIf="type === 'new'" type="" class="form-control" formControlName="company" placeholder="google">
      </div>
      <div class="form-group">
        <label for="logo">Logo</label>
        <input *ngIf="type !== 'new'" [attr.disabled] type="" class="form-control" formControlName="logo" placeholder="logo company">
        <input *ngIf="type === 'new'" type="" class="form-control" formControlName="logo" placeholder="logo company">
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input *ngIf="type !== 'new'" [attr.disabled] type="email" class="form-control" formControlName="email" placeholder="name@example.com">
        <input *ngIf="type === 'new'" type="email" class="form-control" formControlName="email" placeholder="name@example.com">
      </div>
      <div class="form-group">
        <label for="bounty">Bounty</label>
        <input *ngIf="type !== 'new'" [attr.disabled] type="" class="form-control" formControlName="bounty" placeholder="bounty">
        <input *ngIf="type === 'new'" type="" class="form-control" formControlName="bounty" placeholder="bounty">
      </div>
      <div class="form-group">
        <label for="cost">Cost</label>
        <input *ngIf="type !== 'new'" [attr.disabled] type="email" class="form-control" formControlName="cost" placeholder="cost">
        <input [attr.disabled] type="email" class="form-control" formControlName="cost" placeholder="cost">
      </div>
      <div class="form-group">
        <label for="desc">Description</label>
        <textarea *ngIf="type === 'edit'" class="form-control" formControlName="desc" rows="3" placeholder="description for your job"></textarea>
        <textarea *ngIf="type !== 'edit'" [attr.disabled] class="form-control" formControlName="desc" rows="3" placeholder="description for your job"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">cancel</button>
    <button *ngIf="type === 'edit' || type === 'new'" type="button" class="btn-primary" (click)="c('onOk')">ok</button>
  </div>
</ng-template>

<ng-template #candidatemodal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">new candidate</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="name">Candidate's Name</label>
        <input type="text" class="form-control" id="name" placeholder="name">
      </div>
      <div class="form-group">
        <label for="contact">Contact</label>
        <input type="" class="form-control" id="contact" placeholder="email or phone">
      </div>
      <div class="form-group">
        <label for="desc">Description</label>
        <textarea class="form-control" id="desc" rows="3" placeholder="description here"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">cancel</button>
    <button type="button" class="btn-primary" (click)="c('Close click')">ok</button>
  </div>
</ng-template>

<ng-template #candidatesmodal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{ type }} candidates</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ngb-accordion [closeOthers]="true" activeIds="candidate{{ candidates[0].id }}">
      <ngb-panel *ngFor="let candidate of candidates" id="candidate{{ candidate.id }}" title="{{ candidate.name }}">
        <ng-template ngbPanelContent>
            <p>name: {{ candidate.name }}</p>
            <p>contact: {{ candidate.contact }}</p>
            <p>description: {{ candidate.description }}</p>
          </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">cancel</button>
    <button type="button" class="btn-primary" (click)="c('Close click')">ok</button>
  </div>
</ng-template>
  
<ng-template #email let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Company's Email</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    example@example.com
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">cancel</button>
  </div>
</ng-template>

<ng-template #cancelcardmodal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">cancel card</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Do you really want to cancel this card?</p>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">No</button>
      <button type="button" class="btn btn-outline-dark" (click)="c('cancelPost')">Yes</button>
    </div>
</ng-template>