<nz-row class="my-30">
  <nz-col nzType="flex" nzSpan="16" nzOffset="4"> 
    <h3>FAQ’s</h3>

    <p>
      Frequently Asked Questions <br>
      We’re here to help - search or browse below some common questions about CanYa
    </p>

    <nz-input-group nzSearch [nzSuffix]="suffixIconButton" class="search mt-30 mb-100">
      <input type="text" nz-input placeholder="Search CanSeek FAQ’s" [(ngModel)]="searchText">
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch style="width: 80px;" (click)="onSearch()"><i class="anticon anticon-search"></i></button>
    </ng-template>
    
    <nz-collapse [nzBordered]="false" class="faq-list">
      <nz-collapse-panel 
        *ngFor="let panel of panels" 
        [nzHeader]="QItem" 
        [nzActive]="panel.active" 
        [ngStyle]="customStyle"
        [nzShowArrow]="false"
        >

        <ng-template #QItem>
          <h5 class="fs-20 fw-600">{{ panel.name }}</h5>
        </ng-template>

        <p [innerHtml]="panel.content"></p>
      </nz-collapse-panel>
    </nz-collapse>
  </nz-col>
</nz-row>  
<section class="bg-gray py-20 mt-200">
    <nz-row class="mb-30">
      <nz-col nzType="flex" nzSpan="16" nzOffset="4"> 
          <h3>Still need help?</h3>
          <p>For any other questions about CanSeek or your account settings use Telegram to contact Customer Support directly </p>
      </nz-col>
    </nz-row>      
</section>
